
<link rel="stylesheet" href="/css/calendar.css">
<div class="sidebar" id="sidebar">
    <div class="logo">LOGO</div>
    <ul class="menu">
        <li><a href="#" class="menu-item" onclick="window.location.href='/dbview'">Database</a></li>
        <li><a href="#" class="menu-item active" onclick="window.location.href='/editdb'">Edit Database</a></li>
        <li><a href="#" class="menu-item" onclick="window.location.href='/dbview/calendar'">Calendar</a></li>
    </ul>
    <button class="toggle-btn" onclick="sidebar()"><image src="/images/sidebar-btn.png" width="30px" height="25px"></image></button>
</div>

<script src="/js/calendar.js"></script>