<link rel="stylesheet" href="/css/styles2.css">

<body>
    <div class="form-container">
        <h1>Contact Information</h1>
        <form id="page3-form">
    <!-- Contact Information Inputs -->
    <div class="form-left">
        <div class="form-group">
            <label for="company-name">Company/Group Name (Optional)</label>
            <input type="text" id="company-name" name="company-name" placeholder="Company">
        </div>

        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" placeholder="example@example.com" required autocomplete="off">
        </div>
        <div class="form-group contact-number-group">
            <label for="contact-number">Contact Number</label>
            <div class="contact-number-container">
                <input type="number" class="country-code" name="country-code" placeholder="63" required>
                <input type="tel" id="contact-number" name="contact-number" placeholder="Phone / Mobile Number" required>
            </div>
        </div>
    </div>

    <!-- Navigation Buttons -->
    <div class="navigation">
        <button type="button" class="prev-button" onclick="window.location.href='/form/2'">Back</button>
        <button type="submit" class="submit-button">Submit</button>
    </div>
</form>


    </div>
</body>

<script src="/js/page1.js"></script>