<link rel="stylesheet" href="/css/styles.css">
<body>
    <div class="form-container">
        <h1>Booking Submitted</h1>
        <p>Your booking has been successfully submitted.</p>
        <p>Your reference code is: <strong>{{referenceCode}}</strong></p>
        <a href="/form/1" class="hyperlink">Submit another booking</a>
        <a href="/" class="hyperlink">Return to booking page</a>
    </div>
</body>
