@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #F4F4F4;
    color: #333;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* sidebar */
.sidebar {
    width: 215px;
    background-color: #0D325F;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transition: width 0.3s;
}

.sidebar.minimized {
    width: 60px;
}

.logo {
    font-size: 1.8em;
    margin-bottom: 30px;
    margin-right: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.menu {
    list-style-type: none;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.menu li {
    margin: 15px 0;
}

.menu-item {
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    font-size: 1.1em;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.menu-item.active, .menu-item:hover {
    background-color: #1E4E82;
}

.sidebar.minimized .menu-item {
    opacity: 0;
}

.toggle-btn {
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: #0D325F;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

/* Main Content */
.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

.search-filter, .date-filter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.date-filter label {
    font-size: 0.9em;
}

.date-filter input, .box, #fromDate, #toDate {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #F4F4F4;
    font-size: 14px;
    color: #333;
}

.filter-btn, .edit-button, .delete-button, .cancel-button, .right-button {
    padding: 10px 20px;
    background-color: #0D325F;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-btn:hover, .edit-button:hover, .delete-button:hover, .cancel-button:hover, .right-button:hover {
    background-color: #1E4E82;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 0;
    flex-shrink: 1;
    overflow: hidden;
}

.user-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.logout-btn {
    background-color: #0D325F;
    border: none;
    padding: 10px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #1E4E82;
}


/* table */
.table-container {
    background-color: #FFF;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Consistent column widths */
    text-align: left;
}

th, td {
    padding: 8px 10px;
    border: 1px solid #DDD;

}

th {
    background-color: #0D325F;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    position: sticky;
    top: 0;
    z-index: 1;
}

td {
    background-color: #F4F4F4;
    font-size: 13px;
    white-space: normal;
    word-wrap: break-word;   
}

tr:hover td {
    background-color: #EEE;
}

/* column widths */
th:nth-child(1), td:nth-child(1) {
    width: 8%; /* checkbox, response no. */
}

th:nth-child(2), td:nth-child(2) {
    width: 9%; /* form no., company name */
}

th:nth-child(3), td:nth-child(3) {
    width: 10%; /* Pick-up Location, Company Name */
}

th:nth-child(4), td:nth-child(4),
th:nth-child(5), td:nth-child(5) {
    width: 11%;
}

th:nth-child(6), td:nth-child(6),
th:nth-child(7), td:nth-child(7) {
    width: 10%; /* Dates & Times */
}

th:nth-child(8), td:nth-child(8) {
    width: 10%; /* contact no., passengers */
}
th:nth-child(9), td:nth-child(9) {
    width: 10%; /* email, contact no. */
}

th:nth-child(10), td:nth-child(10) {
    width: 8%; /* additonal info, email */
}

th:nth-child(11), td:nth-child(11) {
    width: 10%; /* additonal info */
}

th:nth-child(12), td:nth-child(12) {
    width: 9%; /* Edit Button */
}
th:nth-child(13), td:nth-child(13) {
    width: 8%; /* Edit Button */
}

/* Status Styling */
.status-processing {
    color: rgb(201, 201, 24);
    font-weight: bold;
}
.status-confirmed {
    color: green;
    font-weight: bold;
}
.status-cancelled {
    color: red;
    font-weight: bold;
}

.colored-select {
    font-weight: bold;
    transition: color 0.1s ease;
}


/* Forms */
.form-container {
    background-color: #FFF;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}

textarea {
    resize: vertical;
    height: 80px;
}

.edit-entry, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #DDD;
    border-radius: 5px;
    background-color: #F4F4F4;
}

.form-buttons, .edit-options {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
