/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.form-container {
    width: 60%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; /* Bold */
    color: #1f4a7d;
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-left {
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f0f0f0;
}

input::placeholder {
    font-weight: 700;
    color: #a8a8a8; 
}

.contact-number-group {
    display: flex;
    flex-direction: column;
}

.contact-number-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.country-code {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    text-align: center;
}

input[type="tel"] {
    width: 75%;
    padding: 10px;
}

button.next-button {
    padding: 12px;
    background-color: rgba(15, 42, 86, 1);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    align-self: flex-end;
    width: 100px;
}

button.next-button:hover {
    background-color: #163e79;
}

button.prev-button {
    padding: 12px;
    background-color: rgba(15, 42, 86, 1);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    align-self: flex-start;
    width: 100px;
}

button.prev-button:hover {
    background-color: #163e79;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button.submit-button {
    padding: 12px;
    background-color: #ffcc00;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    align-self: flex-end;
    width: 100px;

}

button.submit-button:hover {
    background-color: #e6b800;
}